/* Contact.js style section */
.container {
  background-color: rgb(156, 157, 187); 
  border-radius: 10px;
}


/* NavBar.js section */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(207, 207, 212);
  border-bottom: 1px solid #dee2e6; 
}

.navbar-left {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-right ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-right ul li {
  margin-right: 20px;
}

.navbar-right ul li:last-child {
  margin-right: 0;
}

.navbar-right ul li a {
  color: #000; 
  text-decoration: none;
  cursor: pointer;
  padding: 5px;
}

.navbar-right ul li a:hover {
  background-color: #ddec7a; 
  color: rgb(38, 81, 211);
  text-decoration: underline;
  border-radius: 15px
  
}

/* about section */
.about {
  text-align: center;
  background-color: #cbdbeb; 
  padding: 3rem; 
  border-radius: 20px; 
  max-width: 1000px; 
  margin: 0 auto; 
}

.about h2 {
  text-align: left;
  color: #000;
  padding: 1rem 1rem;
  border-bottom: 2px solid #000; 
}
.about img {
  margin-bottom: 1rem; 
}

.about p {
  font-size: 1.15rem; 
  line-height: 1.6; 
  color: #333; 
  text-align: justify; 
}

/* Portfolio Section */
.portfolio-section {
  padding: 20px;
}

.portfolio-projects {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.project {
  width: 30%; 
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  
}

.project img {
  max-width: 50%;
  border-radius: 10px;
 
}

.project a {
  display: inline-block;
  margin: 3px;
  padding: 5px;
  border: 1px solid #000;
  background-color: #c6d0da;
  text-decoration: none;
  color: #000;
  border-radius: 6px;
}

.project a:hover {
  text-decoration: underline;
  background-color: #c3c19d;
}


/* RESUME section */

.resume-section {
  padding: 20px;
  font-family: 'Arial, sans-serif'; 
  color: #333; 
}

.text-center {
  text-align: center;
}

.resume-download-link {
  margin-bottom: 20px;
  display: inline-block;
}

.skills-section h2 {
  margin-bottom: 20px;
  font-weight: bold;
}

.skills-area {
  margin-bottom: 20px;
  gap: 20px;
}

.frontend-skills h3, .backend-skills h3 {
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

.skills-icons h3 {
  margin-bottom: 10px;
  font-weight: bold;
}

.skills-icons div {
  display: flex;
  justify-content: center;
  gap: 20px;
}


/* footer github and linked icon style section */
@keyframes beatFade {
  0% {
      opacity: 1;
      transform: scale(1);
  }
  50% {
      opacity: 0.5;
      transform: scale(1.1);
  }
  100% {
      opacity: 1;
      transform: scale(1);
  }
 
}

.beatFade-icon {
  animation: beatFade 2s infinite;
}

/* section for style the position for my footer information */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  bottom: 0;

width: 100%;
padding: 10px;
box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer div {
  display: flex;
  justify-content: center;
  gap: 3rem; /* make some space between to icons  */
}

.footer div a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none; /* remove the underline */
}

.footer p {
  margin-bottom: 1rem; 
}
