body {
  background-image: url('../public/images/bodybg.jpg');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  /* set it -1 any pic will cover the background */
}
